<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message Board</title>
    </head>
    <body>
       
        <% if (currentUser) { -%>
        <h1> <%=title%> </h1>
        <h2>Bienvenido/a, <%=currentUser.username%> </h2>

        <hr>
        <h3>Enviar mensaje</h3>

        <form action="/" method="POST">
            <!-- <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input required type="text" class="form-control" id="name" name="name" placeholder="Your name">
            </div> -->
            <div class="mb-3">
                <label for="body" class="form-label">Message</label>
                <textarea type="text" required class="form-control" id="body" name="body" placeholder="Your message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary send-button">Send</button>
        </form>

        <hr>

        <div class="message-box container">
            <% if (messages.length >0) { %>
            <% messages.forEach(message => { %>
            <div class="message">
                <div class="message-head">
                    <span class="name"><%=message.name%></span> --
                    <span class="date"><%=message.createdAt.toLocaleString()%></span>
                </div>
                <div class="message-body"><%=message.body%></div>
            </div>
            <hr>
            <% }) %>
            <a href="/logout">Log Out</a>
            <% } else { %>%>
            <div class="empty">(Empty)</div>
            <%}%>
        </div>
        
        <% } else { -%>
        <h1>Bienvenido/a</h1>
        <a href="./login">Login</a>
        <a href="./signup">Signup</a>
        
        <% } -%>
    </body>
</html>